// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  color:red;
  text-shadow:1px 1px 10px blue, 1px 1px 10px green;
  font-size: 78px;
  text-align:left;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: red;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.banner a {
  background: blue;
  border-radius: 25px;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



.topnav input[type=text] {

  float: left;
  border-radius: 20px;
  height: 50px;
  width: 400px;
  padding: 6px 10px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  text-align: left
}


.box1 {
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 4%, rgba(83,0,255,0.19511554621848737) 89%);
  display: inline-block;
  width: 300px;
  height: 250px;
  border: 5px solid black;
  padding: 20px;
  margin: 30px 5px;
  border-radius: 10px;
  text-align: center;
}

.box2 {
  text-align: center;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 4%, rgba(83,0,255,0.19511554621848737) 89%);
  display: inline-block;
  width: 300px;
  height: 250px;
  border: 5px solid black;
  padding: 20px;
  margin: 30px 5px;
  border-radius: 10px;
}


.box3 {
  text-align: center;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 4%, rgba(83,0,255,0.19511554621848737) 89%);
  display: inline-block;
  width: 300px;
  height: 250px;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}


.box4 {
  text-align: center;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 4%, rgba(83,0,255,0.19511554621848737) 89%);
  display: inline-block;
  width: 300px;
  height: 250px;
  border: 5px solid black;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}







.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
