.name {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center
}


h1 {
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center
}


h2 {
  font-size: 20px;
  margin-bottom: 40px;
  text-align: center
}
