
<!-- candy product -->

<div class="center-box1">

<div class="box-candy">
  <h2>BUY NOW BB</h2>
<img src="https://images-na.ssl-images-amazon.com/images/I/71Y2FCGR42L._SL1500_.jpg">

  <p>Lotte milk candy available </p>
  <a class="btn btn-flat" href="#">Buy now</a>
</div>


<!--
map body -->

<!-- <div class='sidebar'>
  <div class='heading'>
    <h1>Find Nearby</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>
 -->


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>




