

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images-na.ssl-images-amazon.com/images/I/71sBXasyMLL._SL1200_.jpg);">
  <div class="container">
    <h1>ANYO</h1>
    <p>Eat candies</p>
    <div class="topnav">
  <input type="text" value="name" placeholder="Enter candy name">
</div>

   <%= link_to "Search", candies_path, class:"btn btn-flat" %>
  </div>
</div>

<div class="cards">
  <% @candies.each do |candy|%>
    <div class="box">
      <%= link_to candy.name, candy_path(candy), class:"btn btn-flat" %>
    </div>
    <% end %>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    Thanks for visiting!<br><i class="fas fa-heart"></i>
  </div>
</div>

