

<div class="container">
  <div class="first-card">
    <div class="logo-search">
     <div class="logo">
      ANYO
      </div>
    </div>
      <div class="home-text">
        <h2>ANYO is a online store that let you purchase all kind of korean candies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. </h2>
      </div>
  </div>
</div>

<div class="container">
  <div class="topnav">
    <input type="text" placeholder="Enter your favorite flavor">
  </div>
  <span>
    <%= link_to "Search", candies_path, id:"roger", class:"search-button" %>
  </span>
  <div class="topnav">
    <%= link_to "Sell your candies", new_candy_path, class:"btn btn-primary" %>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    Thanks for visiting!
  </div>
</div>

