.map {
  position: sticky;
  top: 70px;
  // height: calc(100vh - 70px);
}


.mapboxgl-popup {
  max-width: 150px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.candies-container {

  display: grid;
  grid-template-columns: 4fr 1fr;

}
