
.candyform {
  display: flex;
  justify-content: center;

  #candy_composition {
    background: white;
    border-radius: 50px;
    border-width:2px;
    border-color: black;
    box-shadow: 2px 3px 3px lightgray;
    max-width: 700px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  #candy_name {
    background: white;
    border-radius: 50px;
    border-width:2px;
    border-color: black;
    box-shadow: 2px 3px 3px lightgray;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

  #candy_price {
    background: white;
    border-radius: 50px;
    border-width:2px;
    border-color: black;
    box-shadow: 2px 3px 3px lightgray;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #candy_address {
    background: white;
    border-radius: 50px;
    border-width:2px;
    border-color: black;
    box-shadow: 2px 3px 3px lightgray;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-primary {
    background: #66ff33;
    border-radius: 50px;
    border-color: black;
    border-width:2px;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 300px;
  }

  .string.required {
    font-size: 40px;
    border-radius: 50px;
    border-width:2px;
    padding: 20px;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(210,0,46,0.9009978991596639) 18%, rgba(45,0,219,0.9346113445378151) 85%, rgba(10,0,255,0.9374124649859944) 99%);
  }

   .integer.required {
    font-size: 40px;
    padding: 20px;
    border-radius: 50px;
    border-width:2px;
    background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(210,0,46,0.9009978991596639) 18%, rgba(45,0,219,0.9346113445378151) 85%, rgba(10,0,255,0.9374124649859944) 99%);
  }

}











